openapi: 3.0.0
info:
  contact:
    email: support@arborxr.com
    name: ArborXR
    url: https://arborxr.com
  description: This API provides a RESTful interface to interact with your organization's
    data.
  termsOfService: https://arborxr.com/terms-of-service/
  title: ArborXR Public API
  version: v2
servers:
- url: https://api.xrdm.app/api/v2
paths:
  /:
    get:
      description: Get info about the API.
      operationId: GetApiInfo
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiInfo_200_response'
          description: Success
      tags:
      - API Info
  /apps:
    get:
      description: Get a paginated list of apps.
      operationId: GetApps
      parameters:
      - description: The number of items to return per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 10
          nullable: false
          type: integer
        style: form
      - description: The page number to return.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          nullable: false
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApps_200_response'
          description: Success
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
      security:
      - BearerAuth: []
      tags:
      - Apps
  /apps/{appId}:
    get:
      description: Get a single app.
      operationId: GetApp
      parameters:
      - description: The ID of an app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApps_200_response_data_inner'
          description: Success
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
      security:
      - BearerAuth: []
      tags:
      - Apps
    put:
      description: Update an app.
      operationId: UpdateApp
      parameters:
      - description: The ID of an app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateApp_request'
        description: The app fields to update.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApps_200_response_data_inner'
          description: Success
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
      security:
      - BearerAuth: []
      tags:
      - Apps
  /apps/{appId}/versions:
    get:
      description: Get a paginated list of app versions.
      operationId: GetAppVersions
      parameters:
      - description: The number of items to return per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 10
          nullable: false
          type: integer
        style: form
      - description: The page number to return.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          nullable: false
          type: integer
        style: form
      - description: The ID of an app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAppVersions_200_response'
          description: Success
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
      security:
      - BearerAuth: []
      tags:
      - Apps
    post:
      description: Initiate a multipart upload for a new version of an app.
      operationId: InitiateAppVersionUpload
      parameters:
      - description: The ID of an app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Specify Existing Release Channel:
                value:
                  filename: my-app.apk
                  releaseChannelId: 123e4567-e89b-12d3-a456-426614174000
              Create New Release Channel:
                value:
                  filename: my-app.apk
                  newReleaseChannelTitle: My New Beta Channel
              Don't Specify Release Channel:
                value:
                  filename: my-app.apk
            schema:
              $ref: '#/components/schemas/InitiateAppVersionUpload_request'
        description: Initiate a new app version upload.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitiateAppVersionUpload_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
      security:
      - BearerAuth: []
      tags:
      - Apps
  /apps/{appId}/versions/{versionId}/pre-sign:
    post:
      description: Pre-sign URLs for a multipart upload of a new version of an app.
      operationId: PreSignAppVersionUpload
      parameters:
      - description: The ID of an app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      - description: The ID of an app version.
        explode: false
        in: path
        name: versionId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreSignAppVersionUpload_request'
        description: The fields to retrieve presigned URLs.
      responses:
        "200":
          content:
            application/json:
              example:
              - partNumber: 1
                presignedUrl: https://storage.bucket.arborxr.com/path/to/file.apk?partNumber=1&uploadId=OGRhZDQ5NTMtOTQxYS00ZDI3LWE0MzUtOGUyNzEzZWZiYTlmLmY1YmE5NTkyLWIzZDMtNDE1ZS1iOWIxLWM1YWJjYjAxMmY5OQ
              - partNumber: 2
                presignedUrl: https://storage.bucket.arborxr.com/path/to/file.apk?partNumber=2&uploadId=OGRhZDQ5NTMtOTQxYS00ZDI3LWE0MzUtOGUyNzEzZWZiYTlmLmY1YmE5NTkyLWIzZDMtNDE1ZS1iOWIxLWM1YWJjYjAxMmY5OQ
              - partNumber: 3
                presignedUrl: https://storage.bucket.arborxr.com/path/to/file.apk?partNumber=3&uploadId=OGRhZDQ5NTMtOTQxYS00ZDI3LWE0MzUtOGUyNzEzZWZiYTlmLmY1YmE5NTkyLWIzZDMtNDE1ZS1iOWIxLWM1YWJjYjAxMmY5OQ
              schema:
                items:
                  $ref: '#/components/schemas/PreSignAppVersionUpload_200_response_inner'
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
      security:
      - BearerAuth: []
      tags:
      - Apps
  /apps/{appId}/versions/{versionId}/complete:
    post:
      description: Complete a multipart upload for a new version of an app.
      operationId: CompleteAppVersionUpload
      parameters:
      - description: The ID of an app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      - description: The ID of an app version.
        explode: false
        in: path
        name: versionId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteAppVersionUpload_request'
        description: The fields to complete the upload.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAppVersions_200_response_data_inner'
          description: Success
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
      security:
      - BearerAuth: []
      tags:
      - Apps
  /apps/{appId}/release-channels:
    get:
      description: Get a paginated list of release channels for an app.
      operationId: GetAppReleaseChannels
      parameters:
      - description: The ID of an app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAppReleaseChannels_200_response'
          description: Success
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
      security:
      - BearerAuth: []
      tags:
      - Apps
  /apps/{appId}/release-channels/{releaseChannelId}:
    get:
      description: Get a single release channel for an app.
      operationId: GetAppReleaseChannel
      parameters:
      - description: The ID of an app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      - description: The ID of a release channel.
        explode: false
        in: path
        name: releaseChannelId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAppReleaseChannels_200_response_data_inner'
          description: Success
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
      security:
      - BearerAuth: []
      tags:
      - Apps
    put:
      description: Update a release channel's target build.
      operationId: UpdateReleaseChannel
      parameters:
      - description: The ID of an app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      - description: The ID of a release channel.
        explode: false
        in: path
        name: releaseChannelId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateReleaseChannel_request'
        description: The release channel fields to update.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAppReleaseChannels_200_response_data_inner'
          description: Success
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
      security:
      - BearerAuth: []
      tags:
      - Apps
  /apps/{appId}/release-channels/{releaseChannelId}/share:
    delete:
      description: Unshare a release channel with another organization.
      operationId: UnshareReleaseChannel
      parameters:
      - description: The ID of an app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      - description: The ID of a release channel.
        explode: false
        in: path
        name: releaseChannelId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShareReleaseChannel_request'
        description: The details of the organization with which you want to share/unshare
          the release channel.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnshareReleaseChannel_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
      security:
      - BearerAuth: []
      tags:
      - Apps
    post:
      description: Share a release channel with another organization.
      operationId: ShareReleaseChannel
      parameters:
      - description: The ID of an app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      - description: The ID of a release channel.
        explode: false
        in: path
        name: releaseChannelId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShareReleaseChannel_request'
        description: The details of the organization with which you want to share/unshare
          the release channel.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareReleaseChannel_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
      security:
      - BearerAuth: []
      tags:
      - Apps
  /device-groups:
    get:
      deprecated: true
      description: (DEPRECATED. Use `/groups`.) Get a paginated list of configured
        groups in your organization.
      operationId: GetDeviceGroups
      parameters:
      - description: The number of items to return per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 10
          nullable: false
          type: integer
        style: form
      - description: The page number to return.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          nullable: false
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDeviceGroups_200_response'
          description: Success
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
      security:
      - BearerAuth: []
      tags:
      - Groups
  /device-groups/{groupId}/release-channels:
    delete:
      deprecated: true
      description: "(DEPRECATED. Use `/groups/{groupId}/release-channels`.) Remove\
        \ a release channel from a group."
      operationId: RemoveReleaseChannelFromDeviceGroup
      parameters:
      - description: The ID of a group.
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddReleaseChannelToDeviceGroup_request'
        description: The details of the release channel you want to add to or remove
          from the group.
      responses:
        "204":
          description: Success - No Content
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
      security:
      - BearerAuth: []
      tags:
      - Groups
    post:
      deprecated: true
      description: "(DEPRECATED. Use `/groups/{groupId}/release-channels`.) Add a\
        \ release channel to a group."
      operationId: AddReleaseChannelToDeviceGroup
      parameters:
      - description: The ID of a group.
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddReleaseChannelToDeviceGroup_request'
        description: The details of the release channel you want to add to or remove
          from the group.
      responses:
        "204":
          description: Success - No Content
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
      security:
      - BearerAuth: []
      tags:
      - Groups
  /groups:
    get:
      description: Get a paginated list of configured groups in your organization.
      operationId: GetGroups
      parameters:
      - description: The number of items to return per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 10
          nullable: false
          type: integer
        style: form
      - description: The page number to return.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          nullable: false
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDeviceGroups_200_response'
          description: Success
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
      security:
      - BearerAuth: []
      tags:
      - Groups
  /groups/{groupId}/release-channels:
    delete:
      description: Remove a release channel from a group.
      operationId: RemoveReleaseChannelFromGroup
      parameters:
      - description: The ID of a group.
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddReleaseChannelToDeviceGroup_request'
        description: The details of the release channel you want to add to or remove
          from the group.
      responses:
        "204":
          description: Success - No Content
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
      security:
      - BearerAuth: []
      tags:
      - Groups
    get:
      description: Get a paginated list of release channels for a group.
      operationId: GetGroupReleaseChannels
      parameters:
      - description: The ID of a group.
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetGroupReleaseChannels_200_response'
          description: Success
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
      security:
      - BearerAuth: []
      tags:
      - Groups
    post:
      description: Add a release channel to a group.
      operationId: AddReleaseChannelToGroup
      parameters:
      - description: The ID of a group.
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddReleaseChannelToDeviceGroup_request'
        description: The details of the release channel you want to add to or remove
          from the group.
      responses:
        "204":
          description: Success - No Content
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
      security:
      - BearerAuth: []
      tags:
      - Groups
  /groups/{groupId}/files:
    delete:
      description: Remove a file from a group.
      operationId: RemoveFileFromGroup
      parameters:
      - description: The ID of a group.
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddFileToGroup_request'
        description: The details of the file you want to add to or remove from the
          group.
      responses:
        "204":
          description: Success - No Content
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
      security:
      - BearerAuth: []
      tags:
      - Groups
    post:
      description: Add a file to a group.
      operationId: AddFileToGroup
      parameters:
      - description: The ID of a group.
        explode: false
        in: path
        name: groupId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddFileToGroup_request'
        description: The details of the file you want to add to or remove from the
          group.
      responses:
        "204":
          description: Success - No Content
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
      security:
      - BearerAuth: []
      tags:
      - Groups
  /device-models:
    get:
      description: Get a paginated list of device models used in your organization.
      operationId: GetDeviceModels
      parameters:
      - description: The number of items to return per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 10
          nullable: false
          type: integer
        style: form
      - description: The page number to return.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          nullable: false
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDeviceModels_200_response'
          description: Success
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
      security:
      - BearerAuth: []
      tags:
      - Device Models
  /device-models/{deviceModelId}:
    get:
      description: Get a single device model.
      operationId: GetDeviceModel
      parameters:
      - description: The ID of a device model.
        explode: false
        in: path
        name: deviceModelId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApps_200_response_data_inner_deviceModels_inner'
          description: Success
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
      security:
      - BearerAuth: []
      tags:
      - Device Models
  /devices:
    get:
      description: Get a paginated list of your organization's devices.
      operationId: GetDevices
      parameters:
      - description: The number of items to return per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 10
          nullable: false
          type: integer
        style: form
      - description: The page number to return.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          nullable: false
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDevices_200_response'
          description: Success
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
      security:
      - BearerAuth: []
      tags:
      - Devices
  /devices/{deviceId}:
    get:
      description: Get a single device.
      operationId: GetDevice
      parameters:
      - description: The ID of an device.
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDevices_200_response_data_inner'
          description: Success
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
      security:
      - BearerAuth: []
      tags:
      - Devices
    put:
      description: Update a device.
      operationId: UpdateDevice
      parameters:
      - description: The ID of an device.
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDevice_request'
        description: The device fields to update.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDevices_200_response_data_inner'
          description: Success
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
      security:
      - BearerAuth: []
      tags:
      - Devices
  /devices/{deviceId}/launch/{appId}:
    post:
      description: Launch an app on a device.
      operationId: LaunchApp
      parameters:
      - description: The ID of an device.
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      - description: The ID of an app.
        explode: false
        in: path
        name: appId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      responses:
        "204":
          description: Success - No Content
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
      security:
      - BearerAuth: []
      tags:
      - Devices
  /devices/{deviceId}/fingerprint:
    post:
      description: Check the device fingerprint.
      operationId: CheckFingerprint
      parameters:
      - description: The ID of an device.
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckFingerprint_request'
        description: The fingerprint to check.
      responses:
        "204":
          description: Success - No Content
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
      security:
      - BearerAuth: []
      tags:
      - Devices
  /devices/{deviceId}/release-channels:
    delete:
      description: Remove a release channel from a device.
      operationId: RemoveReleaseChannelFromDevice
      parameters:
      - description: The ID of an device.
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddReleaseChannelToDeviceGroup_request'
        description: The details of the release channel you want to add to or remove
          from the device.
      responses:
        "204":
          description: Success - No Content
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
      security:
      - BearerAuth: []
      tags:
      - Devices
    post:
      description: Add a release channel to a device.
      operationId: AddReleaseChannelToDevice
      parameters:
      - description: The ID of an device.
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddReleaseChannelToDeviceGroup_request'
        description: The details of the release channel you want to add to or remove
          from the device.
      responses:
        "204":
          description: Success - No Content
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
      security:
      - BearerAuth: []
      tags:
      - Devices
  /devices/{deviceId}/files:
    delete:
      description: Remove a file from a device.
      operationId: RemoveFileFromDevice
      parameters:
      - description: The ID of an device.
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddFileToGroup_request'
        description: The details of the file you want to add to or remove from the
          device.
      responses:
        "204":
          description: Success - No Content
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
      security:
      - BearerAuth: []
      tags:
      - Devices
    post:
      description: Add a file to a device.
      operationId: AddFileToDevice
      parameters:
      - description: The ID of an device.
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddFileToGroup_request'
        description: The details of the file you want to add to or remove from the
          device.
      responses:
        "204":
          description: Success - No Content
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
      security:
      - BearerAuth: []
      tags:
      - Devices
  /devices/{deviceId}/reboot:
    post:
      description: Reboot a device.
      operationId: RebootDevice
      parameters:
      - description: The ID of an device.
        explode: false
        in: path
        name: deviceId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      responses:
        "204":
          description: Success - No Content
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
      security:
      - BearerAuth: []
      tags:
      - Devices
  /files:
    get:
      description: Get a paginated list of files.
      operationId: GetFiles
      parameters:
      - description: The number of items to return per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 10
          nullable: false
          type: integer
        style: form
      - description: The page number to return.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          nullable: false
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFiles_200_response'
          description: Success
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
      security:
      - BearerAuth: []
      tags:
      - Files
    post:
      description: Initiate a multipart upload for a new file.
      operationId: InitiateFileUpload
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitiateFileUpload_request'
        description: Initiate a new file upload.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitiateFileUpload_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
      security:
      - BearerAuth: []
      tags:
      - Files
  /files/{fileId}:
    get:
      description: Get a single file.
      operationId: GetFile
      parameters:
      - description: The ID of a file.
        explode: false
        in: path
        name: fileId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFiles_200_response_data_inner'
          description: Success
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
      security:
      - BearerAuth: []
      tags:
      - Files
  /files/{fileId}/pre-sign:
    post:
      description: Pre-sign URLs for a multipart upload of a new file.
      operationId: PreSignFileUpload
      parameters:
      - description: The ID of a file.
        explode: false
        in: path
        name: fileId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreSignFileUpload_request'
        description: The fields to retrieve presigned URLs.
      responses:
        "200":
          content:
            application/json:
              example:
              - partNumber: 1
                presignedUrl: https://storage.bucket.arborxr.com/path/to/file.txt?partNumber=1&uploadId=OGRhZDQ5NTMtOTQxYS00ZDI3LWE0MzUtOGUyNzEzZWZiYTlmLmY1YmE5NTkyLWIzZDMtNDE1ZS1iOWIxLWM1YWJjYjAxMmY5OQ
              - partNumber: 2
                presignedUrl: https://storage.bucket.arborxr.com/path/to/file.txt?partNumber=2&uploadId=OGRhZDQ5NTMtOTQxYS00ZDI3LWE0MzUtOGUyNzEzZWZiYTlmLmY1YmE5NTkyLWIzZDMtNDE1ZS1iOWIxLWM1YWJjYjAxMmY5OQ
              - partNumber: 3
                presignedUrl: https://storage.bucket.arborxr.com/path/to/file.txt?partNumber=3&uploadId=OGRhZDQ5NTMtOTQxYS00ZDI3LWE0MzUtOGUyNzEzZWZiYTlmLmY1YmE5NTkyLWIzZDMtNDE1ZS1iOWIxLWM1YWJjYjAxMmY5OQ
              schema:
                items:
                  $ref: '#/components/schemas/PreSignFileUpload_200_response_inner'
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
      security:
      - BearerAuth: []
      tags:
      - Files
  /files/{fileId}/complete:
    post:
      description: Complete a multipart upload for a new file.
      operationId: CompleteFileUpload
      parameters:
      - description: The ID of a file.
        explode: false
        in: path
        name: fileId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteFileUpload_request'
        description: The fields to complete the upload.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFiles_200_response_data_inner'
          description: Success
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
      security:
      - BearerAuth: []
      tags:
      - Files
  /invite-user:
    post:
      deprecated: true
      description: (DEPRECATED. Use `/user-invites`.) Invite a user to your organization.
      operationId: InviteUser
      requestBody:
        content:
          application/json:
            examples:
              Example 1 (organization role):
                value:
                  email: john.doe@example.com
                  organizationRoleId: 123e4567-e89b-12d3-a456-426614174000
                  sso: true
              Example 2 (group role):
                value:
                  email: john.doe@example.com
                  groupRoleId: 123e4567-e89b-12d3-a456-426614174000
                  groupIds:
                  - 123e4567-e89b-12d3-a456-426614174000
                  - 123e4567-e89b-12d3-a456-426614174001
                  sso: false
            schema:
              $ref: '#/components/schemas/InviteUser_request'
        description: The fields required to invite a user.
      responses:
        "204":
          description: Success - No Content
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
      security:
      - BearerAuth: []
      tags:
      - User Invites
  /user-invites:
    post:
      description: Invite a user to your organization.
      operationId: CreateUserInvite
      requestBody:
        content:
          application/json:
            examples:
              Example 1 (organization role):
                value:
                  email: john.doe@example.com
                  organizationRoleId: 123e4567-e89b-12d3-a456-426614174000
                  sso: true
              Example 2 (group role):
                value:
                  email: john.doe@example.com
                  groupRoleId: 123e4567-e89b-12d3-a456-426614174000
                  groupIds:
                  - 123e4567-e89b-12d3-a456-426614174000
                  - 123e4567-e89b-12d3-a456-426614174001
                  sso: false
            schema:
              $ref: '#/components/schemas/InviteUser_request'
        description: The fields required to invite a user.
      responses:
        "204":
          description: Success - No Content
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
      security:
      - BearerAuth: []
      tags:
      - User Invites
  /users:
    get:
      description: Get a paginated list of users in your organization.
      operationId: GetUsers
      parameters:
      - description: The number of items to return per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 10
          nullable: false
          type: integer
        style: form
      - description: The page number to return.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          nullable: false
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsers_200_response'
          description: Success
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
      security:
      - BearerAuth: []
      tags:
      - Users
    post:
      description: Create a new user in your organization.
      operationId: CreateUser
      requestBody:
        content:
          application/json:
            examples:
              Example 1 (organization role):
                value:
                  firstName: John
                  lastName: Doe
                  email: john.doe@example.com
                  organizationRoleId: 123e4567-e89b-12d3-a456-426614174000
              Example 2 (group role):
                value:
                  firstName: John
                  lastName: Doe
                  email: john.doe@example.com
                  groupRoleId: 123e4567-e89b-12d3-a456-426614174000
                  groupIds:
                  - 123e4567-e89b-12d3-a456-426614174000
                  - 123e4567-e89b-12d3-a456-426614174001
            schema:
              $ref: '#/components/schemas/CreateUser_request'
        description: Create a new user
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsers_200_response_data_inner'
          description: Success
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
      security:
      - BearerAuth: []
      tags:
      - Users
  /users/{userId}:
    delete:
      description: Delete a user.
      operationId: DeleteUser
      parameters:
      - description: The ID of a user.
        explode: false
        in: path
        name: userId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      responses:
        "204":
          description: Success - No Content
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
      security:
      - BearerAuth: []
      tags:
      - Users
    get:
      description: Get a single user.
      operationId: GetUser
      parameters:
      - description: The ID of a user.
        explode: false
        in: path
        name: userId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsers_200_response_data_inner'
          description: Success
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
      security:
      - BearerAuth: []
      tags:
      - Users
    put:
      description: Update a user.
      operationId: UpdateUser
      parameters:
      - description: The ID of a user.
        explode: false
        in: path
        name: userId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Example 1 (update name):
                value:
                  firstName: John
                  lastName: Doe
              Example 2 (update group roles):
                value:
                  groupRoleId: 123e4567-e89b-12d3-a456-426614174000
                  groupIds:
                  - 123e4567-e89b-12d3-a456-426614174000
                  - 123e4567-e89b-12d3-a456-426614174001
              Example 3 (update organization role):
                value:
                  organizationRoleId: 123e4567-e89b-12d3-a456-426614174000
              Example 4 (remove organization role):
                value:
                  organizationRoleId: null
              Example 5 (remove group roles):
                value:
                  groupRoleId: null
                  groupIds: []
            schema:
              $ref: '#/components/schemas/UpdateUser_request'
        description: Update a user
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsers_200_response_data_inner'
          description: Success
        "400":
          content:
            application/json:
              schema:
                example:
                  message: Bad Request
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                example:
                  message: Unprocessable Entity
                type: object
          description: Unprocessable Entity
      security:
      - BearerAuth: []
      tags:
      - Users
  /organization-roles:
    get:
      description: Get a list of organization roles.
      operationId: GetOrganizationRoles
      parameters:
      - description: The number of items to return per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 10
          nullable: false
          type: integer
        style: form
      - description: The page number to return.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          nullable: false
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrganizationRoles_200_response'
          description: Success
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
      security:
      - BearerAuth: []
      tags:
      - Roles
  /organization-roles/{roleId}:
    get:
      description: Get a single organization role.
      operationId: GetOrganizationRole
      parameters:
      - description: The ID of a role.
        explode: false
        in: path
        name: roleId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: "1"
                title: Admin
                description: Organization administrator
                type: Organization
                isOwnedBySystem: true
              schema:
                $ref: '#/components/schemas/GetUsers_200_response_data_inner_organizationRole'
          description: Success
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
      security:
      - BearerAuth: []
      tags:
      - Roles
  /group-roles:
    get:
      description: Get a list of group roles.
      operationId: GetGroupRoles
      parameters:
      - description: The number of items to return per page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 10
          nullable: false
          type: integer
        style: form
      - description: The page number to return.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          nullable: false
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetGroupRoles_200_response'
          description: Success
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
      security:
      - BearerAuth: []
      tags:
      - Roles
  /group-roles/{roleId}:
    get:
      description: Get a single group role.
      operationId: GetGroupRole
      parameters:
      - description: The ID of a role.
        explode: false
        in: path
        name: roleId
        required: true
        schema:
          format: uuid
          nullable: false
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: "1"
                title: Group Admin
                description: Group administrator
                type: Group
                isOwnedBySystem: true
              schema:
                $ref: '#/components/schemas/GetUsers_200_response_data_inner_organizationRole'
          description: Success
        "401":
          content:
            application/json:
              schema:
                example:
                  message: Unauthenticated
                type: object
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                example:
                  message: Forbidden
                type: object
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                example:
                  message: Not Found
                type: object
          description: Not Found
      security:
      - BearerAuth: []
      tags:
      - Roles
components:
  schemas:
    ShareReleaseChannel_200_response:
      example:
        message: "Release channel shared with organization slug: 'another-organization-inc'."
      properties:
        message:
          example: "Release channel shared with organization slug: 'another-organization-inc'."
          type: string
      type: object
    GetApps_200_response_meta:
      properties:
        current_page:
          example: 2
          type: integer
        from:
          example: 11
          nullable: true
          type: integer
        last_page:
          example: 3
          type: integer
        links:
          items:
            $ref: '#/components/schemas/GetApps_200_response_meta_links_inner'
          type: array
        path:
          example: https://api.xrdm.app/api/v2/apps
          type: string
        per_page:
          example: 10
          type: integer
        to:
          example: 20
          nullable: true
          type: integer
        total:
          example: 25
          type: integer
    GetAppVersions_200_response_meta_links_inner:
      example:
      - url: https://api.xrdm.app/api/v2/apps/123e4567-e89b-12d3-a456-426614174000/versions?per_page=10page=1
        label: pagination.previous
        active: false
      - url: https://api.xrdm.app/api/v2/apps/123e4567-e89b-12d3-a456-426614174000/versions?per_page=10page=1
        label: "1"
        active: false
      - url: https://api.xrdm.app/api/v2/apps/123e4567-e89b-12d3-a456-426614174000/versions?per_page=10page=2
        label: "2"
        active: true
      - url: https://api.xrdm.app/api/v2/apps/123e4567-e89b-12d3-a456-426614174000/versions?per_page=10page=3
        label: "3"
        active: false
      - url: https://api.xrdm.app/api/v2/apps/123e4567-e89b-12d3-a456-426614174000/versions?per_page=10page=3
        label: pagination.next
        active: false
      properties:
        url:
          example: https://api.xrdm.app/api/v2/apps/123e4567-e89b-12d3-a456-426614174000/versions?per_page=10page=1
          nullable: true
          type: string
        label:
          example: "1"
          type: string
        active:
          example: true
          type: boolean
    GetAppReleaseChannels_200_response_meta_links_inner:
      example:
      - url: https://api.xrdm.app/api/v2/apps/123e4567-e89b-12d3-a456-426614174000/release-channels?per_page=10page=1
        label: pagination.previous
        active: false
      - url: https://api.xrdm.app/api/v2/apps/123e4567-e89b-12d3-a456-426614174000/release-channels?per_page=10page=1
        label: "1"
        active: false
      - url: https://api.xrdm.app/api/v2/apps/123e4567-e89b-12d3-a456-426614174000/release-channels?per_page=10page=2
        label: "2"
        active: true
      - url: https://api.xrdm.app/api/v2/apps/123e4567-e89b-12d3-a456-426614174000/release-channels?per_page=10page=3
        label: "3"
        active: false
      - url: https://api.xrdm.app/api/v2/apps/123e4567-e89b-12d3-a456-426614174000/release-channels?per_page=10page=3
        label: pagination.next
        active: false
      properties:
        url:
          example: https://api.xrdm.app/api/v2/apps/123e4567-e89b-12d3-a456-426614174000/release-channels?per_page=10page=1
          nullable: true
          type: string
        label:
          example: "1"
          type: string
        active:
          example: true
          type: boolean
    GetAppVersions_200_response_data_inner:
      example:
        code: 328
        size: 100 MB
        added: 2001-02-03T01:23:45Z
        downloadUrl: https://storage.bucket.arborxr.com/path/to/file.apk
        id: 123e4567-e89b-12d3-a456-426614174000
        version: 2.0.0-prealpha+328
        status: AVAILABLE
      properties:
        id:
          example: 123e4567-e89b-12d3-a456-426614174000
          format: uuid
          type: string
        version:
          example: 2.0.0-prealpha+328
          nullable: true
          type: string
        code:
          example: 328
          nullable: true
          type: integer
        size:
          example: 100 MB
          nullable: true
          type: string
        added:
          example: 2001-02-03T01:23:45Z
          type: string
        status:
          example: AVAILABLE
          type: string
        downloadUrl:
          example: https://storage.bucket.arborxr.com/path/to/file.apk
          nullable: true
          type: string
    ShareReleaseChannel_request:
      properties:
        organizationSlug:
          example: another-organization-inc
          type: string
      required:
      - organizationSlug
      type: object
    AddFileToGroup_request:
      properties:
        fileId:
          example: 123e4567-e89b-12d3-a456-426614174000
          format: uuid
          type: string
      required:
      - fileId
      type: object
    GetDevices_200_response:
      description: Get a paginated list of devices.
      example:
        data:
        - id: 9d6a9043-e469-4239-9cc5-147fb20905d9
          title: Sim Station Pico
          serialNumber: F233SJR96590SA
          deviceGroup: Midwest Office
          group:
            id: 9d6a9043-e469-4239-9cc5-147fb20905d9
            title: Midwest Office
            deviceCount: 5
          model: Pico Neo 3
          tags:
          - midwest
          - pico
          lastCommunicatedAt: 2023-12-19T08:24:04Z
          isOnline: true
          clientVersion: 1.2.3
          launcherVersion: 4.5.6
          enrollmentDate: 2023-12-19T08:24:04Z
          systemVersion: "8.1"
          osVersion: 1.2.3
          ssid: MyWiFi
          macAddress: 00:11:22:33:44:55
          randomizedMacAddress: 00:11:22:33:44:55
          storageSpaceFreeGb: 10.5
          storageSpaceTotalGb: 64
          batteryHealth: Overheat
          batteryCharging: true
          batteryPercentage: 100
          batteryTemperatureC: 25
          ipAddress: 10.24.58.100
          signalStrength: 99
          frequencyMhz: 2437
          linkSpeedMbps: 72
          lastLocationLatitude: 37.7749
          lastLocationLongitude: -122.4194
          lastLocationAt: 2023-12-19T08:24:04Z
        - id: 1ca42d4c-558a-4b50-a1e4-4b2fc7f70adc
          title: Sound Stage Quest
          serialNumber: G255KFI92837LE
          deviceGroup: null
          group: null
          model: Meta Quest 2
          tags:
          - california
          - quest
          - meta
          - sound stage
          lastCommunicatedAt: 2023-12-22T17:11:47Z
          isOnline: false
          clientVersion: 1.2.3
          launcherVersion: 4.5.6
          enrollmentDate: 2023-12-22T17:11:47Z
          systemVersion: "8.1"
          osVersion: 1.2.3
          ssid: MyWiFi
          macAddress: 00:11:22:33:44:55
          randomizedMacAddress: 00:11:22:33:44:55
          storageSpaceFreeGb: 10.5
          storageSpaceTotalGb: 64
          batteryHealth: Good
          batteryCharging: true
          batteryPercentage: 100
          batteryTemperatureC: 25
          ipAddress: 10.24.58.100
          signalStrength: 99
          frequencyMhz: 2437
          linkSpeedMbps: 72
          lastLocationLatitude: 37.7749
          lastLocationLongitude: -122.4194
          lastLocationAt: 2023-12-22T17:11:47Z
        links:
          first: https://api.xrdm.app/api/v2/devices?per_page=10page=1
          last: https://api.xrdm.app/api/v2/devices?per_page=10page=3
          prev: https://api.xrdm.app/api/v2/devices?per_page=10page=1
          next: https://api.xrdm.app/api/v2/devices?per_page=10page=3
        meta:
          current_page: 2
          from: 11
          last_page: 3
          links:
          - url: https://api.xrdm.app/api/v2/devices?per_page=10page=1
            label: pagination.previous
            active: false
          - url: https://api.xrdm.app/api/v2/devices?per_page=10page=1
            label: "1"
            active: false
          - url: https://api.xrdm.app/api/v2/devices?per_page=10page=2
            label: "2"
            active: true
          - url: https://api.xrdm.app/api/v2/devices?per_page=10page=3
            label: "3"
            active: false
          - url: https://api.xrdm.app/api/v2/devices?per_page=10page=3
            label: pagination.next
            active: false
          path: https://api.xrdm.app/api/v2/devices
          per_page: 10
          to: 20
          total: 25
      properties:
        data:
          items:
            $ref: '#/components/schemas/GetDevices_200_response_data_inner'
          type: array
        links:
          $ref: '#/components/schemas/GetDevices_200_response_links'
        meta:
          $ref: '#/components/schemas/GetDevices_200_response_meta'
      type: object
    GetApps_200_response_meta_links_inner:
      example:
      - url: https://api.xrdm.app/api/v2/apps?per_page=10page=1
        label: pagination.previous
        active: false
      - url: https://api.xrdm.app/api/v2/apps?per_page=10page=1
        label: "1"
        active: false
      - url: https://api.xrdm.app/api/v2/apps?per_page=10page=2
        label: "2"
        active: true
      - url: https://api.xrdm.app/api/v2/apps?per_page=10page=3
        label: "3"
        active: false
      - url: https://api.xrdm.app/api/v2/apps?per_page=10page=3
        label: pagination.next
        active: false
      properties:
        url:
          example: https://api.xrdm.app/api/v2/apps?per_page=10page=1
          nullable: true
          type: string
        label:
          example: "1"
          type: string
        active:
          example: true
          type: boolean
    GetOrganizationRoles_200_response_meta_links_inner:
      example:
      - url: https://api.xrdm.app/api/v2/organization-roles?per_page=10page=1
        label: pagination.previous
        active: false
      - url: https://api.xrdm.app/api/v2/organization-roles?per_page=10page=1
        label: "1"
        active: false
      - url: https://api.xrdm.app/api/v2/organization-roles?per_page=10page=2
        label: "2"
        active: true
      - url: https://api.xrdm.app/api/v2/organization-roles?per_page=10page=3
        label: "3"
        active: false
      - url: https://api.xrdm.app/api/v2/organization-roles?per_page=10page=3
        label: pagination.next
        active: false
      properties:
        url:
          example: https://api.xrdm.app/api/v2/organization-roles?per_page=10page=1
          nullable: true
          type: string
        label:
          example: "1"
          type: string
        active:
          example: true
          type: boolean
    GetDeviceModels_200_response_links:
      properties:
        first:
          example: https://api.xrdm.app/api/v2/device-models?per_page=10page=1
          type: string
        last:
          example: https://api.xrdm.app/api/v2/device-models?per_page=10page=3
          type: string
        prev:
          example: https://api.xrdm.app/api/v2/device-models?per_page=10page=1
          nullable: true
          type: string
        next:
          example: https://api.xrdm.app/api/v2/device-models?per_page=10page=3
          nullable: true
          type: string
      type: object
    InitiateFileUpload_200_response:
      example:
        key: xrdm-016da47e-4c49-48ad-9c61-94904e06a226/files/2f5d24ec-be98-49d3-ac42-cdecbeea40f0/123e4567-e89b-12d3-a456-426614174000/my-file.txt
        uploadId: OGRhZDQ5NTMtOTQxYS00ZDI3LWE0MzUtOGUyNzEzZWZiYTlmLmY1YmE5NTkyLWIzZDMtNDE1ZS1iOWIxLWM1YWJjYjAxMmY5OQ
        fileId: 9d6a9043-e469-4239-9cc5-147fb20905d9
      properties:
        key:
          example: xrdm-016da47e-4c49-48ad-9c61-94904e06a226/files/2f5d24ec-be98-49d3-ac42-cdecbeea40f0/123e4567-e89b-12d3-a456-426614174000/my-file.txt
          type: string
        uploadId:
          example: OGRhZDQ5NTMtOTQxYS00ZDI3LWE0MzUtOGUyNzEzZWZiYTlmLmY1YmE5NTkyLWIzZDMtNDE1ZS1iOWIxLWM1YWJjYjAxMmY5OQ
          type: string
        fileId:
[...]
